*
!.gitignore

!/js
!js/*
!js/*/*
!js/*/*/*

!/images
!images/*
!images/*/*
!images/*/*/*

!/less
!less/*
!less/*/*
!less/*/*/*
!less/*/*/*/*

!/admin
!admin/*
!admin/*/*
!admin/*/*/*
!admin/*/*/*/*
!admin/*/*/*/*/*

!/css
!css/*
!css/*/*
!css/*/*


