#2017-03-17 暂时隐藏，因为本地服务器使用下面的配置会报403，而共享主机却要下面的配置
Options +FollowSymLinks
IndexIgnore */*

RewriteEngine on

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . ./index.php